.messageItem {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 100%;
    border-radius: 0.25rem;
}

.author {
    font-weight: 800;
    font-size: 19px;
    cursor: pointer;
}

.date {
    font-style: italic;
    font-size: 9px;
    color: rgb(110, 110, 110);
}

.avatarImg {
    border-radius: 50%;
    max-width: 50px;
    margin-right: 5px;
}

.text {
    font-weight: 600;
    font-size: 15px;
    border: 1px solid lightcoral;
    padding: 5px;
}

.readed {
    border: 1px solid greenyellow;
    background-color:rgb(155, 219, 155);

}

.unreaded {
    border: 1px solid rgb(158, 157, 157);
    background-color: rgb(202, 181, 181);
    opacity: 0.8;
}