.app-list {
    margin-top: 50px;
}
.app-list .list-group-item {
  padding: 15px 30px 6px 30px;
  margin: 10px;
}


@media only screen and (min-width: 992px) { 
  .app-list .list-group-item {
    padding: 20px 35px 10px 35px;
  }

}
